# Appwrite
APPWRITE_PROJECT_ID="your-appwrite-project-id"
APPWRITE_PROJECT_NAME="Your Appwrite Project Name"
APPWRITE_ENDPOINT="https://your-appwrite-endpoint/v1"
APPWRITE_API_KEY="your-appwrite-api-key"
APPWRITE_DATABASE_ID="your-database-id"
APPWRITE_COLLECTION_ID_TASKS="tasks"
APPWRITE_FUNCTION_ID="your-function-id"

# Vercel
VERCEL_TOKEN="your-vercel-token"
VERCEL_ORG_ID="your-vercel-org-id"
VERCEL_PROJECT_ID="your-vercel-project-id"

# Appwrite Function Email / SMTP
SUBMIT_EMAIL="your-email@example.com"
SMTP_USERNAME="your-smtp-username"
SMTP_PASSWORD="your-smtp-password"
SMTP_PORT="587"
SMTP_HOST="smtp.example.com"